<% provide(:class_text, 'basic_info') %>
<% provide(:button_text, '更新') %>

<div class="center">
  <h1>基本情報の更新</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    
    <%= f.label :work_time, "指定勤務時間", class: "label-login" %>
    <%= f.email_field :work_time, class: 'form-control' %>
    
    <%= f.label :basic_time_info, "基本勤務時間", class: "label-login" %>
    <%= f.password_field :, class: 'form-control' %>
    
    <%= f.submit "更新", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
  </div>
</div>