<% provide(:title, 'basic_info') %>

<div class="center">
  <h1>基本情報の更新</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: update_basic_info_user_path(@user), local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      
    <%= f.label :name, class: "label-basic_info" %>
    <p><%= @user.name %></p>
    
    <%= f.label :work_time, "指定勤務時間", class: "label-basic_info" %>
    <%= f.time_field :work_time, class: "form-control" %>
    
    <%= f.label :basic_time, "基本勤務時間", class: "label-basic_info" %>
    <%= f.time_field :basic_time, class: "form-control" %>
    
    <%= f.submit "更新", class: "btn btn-primary btn-block btn-button-text" %>
    <% end %>
  </div>
</div>