<% provide(:title, 'All Users') %>
<div class="center">
  <h1>ユーザー一覧</h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>
    
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-success" %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </div>
</div>